.button-container {
  button {
    font: 2rem var(--main-font);
    width: 8rem;
    height: 7rem;
    border: 1px solid black;
    color: white;
    transition: 150ms;

    &:hover {
      filter: brightness(1.1);
      border-color: lightgray;
      color: black;
      transform: scale(1.01);
    }

    &:active {
      filter: brightness(0.8);
      transform: scale(1.05);
    }
  }

  .span-two {
    width: 16rem;
  }

  .number {
    background-color: var(--number-color);
  }

  .operator {
    background-color: var(--operator-color);
  }

  .equal {
    background-color: var(--equal-color);
  }

  .clear {
    background-color: var(--clear-color);
  }

  .delete {
    background-color: var(--delete-color);
  }
}
